/*Глобальные текстовые параметры*/
body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
}
a {
  text-decoration: none;
}
/*Главная страница*/
.header-top {
  background-color: rgb(41, 52, 73);
}
.main-logo {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 24px;
  background-color: rgb(238,54, 67);
  color: rgb(255, 255, 255);
}
.header-top a {
  font-size: 17px;
  line-height: 18px;
  color: rgb(255, 255, 255);
}
.header-top label {
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.header-top li {
  list-style: none;
}
li .order {
  background-color: rgb(99, 166, 62);
}
.main-header {
  background-color: rgb(243, 247, 248);
}
.info {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: rgb(238, 54, 67);
}
.tel {
  font-size: 21px;
  font-style: italic;
  line-height: 21px;
  color: rgb(238, 54, 67);
}
.address {
  font-size: 14px;
  line-height: 24px;
  color: rgb(50, 66, 92);
}
.user-block a {
  font-size: 21px;
  line-height: 21px;
  background-color: rgb(255, 255, 255);
}
.header-bottom {
  background-color: rgb(50, 66, 92);
}
.header-bottom a {
  font-size: 17px;
  line-height: 17px;
  color: rgb(255, 255, 255);
}
.header-bottom li {
  list-style: none;
}
.assortment-list span:not(.new) {
  font-size: 24px;
  font-weight: bold;
  line-height: 30;
  color: rgb(255, 255, 255);
}
.block1 {
  background-color: rgb(255, 191, 71);
}
.block2 {
  background-color: rgb(59, 188, 227);
}
.block3 {
  background-color: rgb(220, 145, 216);
}
.block4 {
  background-color: rgb(142, 215, 143);
}
.block5 {
  background-color: rgb(255, 192, 71);
}
.assortment-btn {
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 18px;
  background-color: rgba(255, 255, 255, 0.1);
}
.slider {
  background-color: rgb(222,184,135);
}
.slider h2 {
  font-size: 36px;
  line-height: 36px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
}
.slider span {
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.slider a {
  font-size: 14px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background-color: rgb(238, 54, 67);
}
.pop-goods-head h2 {
  font-size: 30px;
  line-height: 30px;
  color: rgb(50, 66, 92);
  text-transform: uppercase;
}
.pop-goods-btn {
  font-size: 14px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background-color: rgb(238, 54, 67);
}
.pop-goods-head {
  background-color: rgb(249, 245, 240);
}
.pop-goods li {
  list-style: none;
}
.pop-goods-element h3 {
  font-size: 18px;
  line-height: 20px;
  font-family: "Pt Sans", Arial, sans-serif;
  font-weight: bold;
}
.old-cost {
  font-size: 17px;
  line-height: 18px;
  font-family: "PTSans", Arial, sans-serif;
  color: rgb(169, 169, 169);
  font-weight: bold;
  text-decoration: line-through;
  text-transform: uppercase;
}
.element-cost {
  font-size: 17px;
  line-height: 18px;
  font-family: "PTSans", Arial, sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(238, 54, 67);
}
.pop-creators-head {
  background-color: rgb(249, 245, 240);
}
.pop-creators-head h2 {
  font-size: 30px;
  line-height: 30px;
  color: rgb(50, 66, 92);
}
.pop-creators-btn {
  font-size: 14px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background-color: rgb(238, 54, 67);
}
.pop-creators li {
  list-style: none;
}
.services {
  background-color: rgb(244, 248, 250);
}
.service h2 {
  font-size: 30px;
  line-height: 30;
  text-transform: uppercase;
}
.services li {
  list-style: none;
}
.service-type {
  font-size: 21px;
  line-height: 30px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: rgb(50, 66, 92);
}
.services h3 {
  font-size: 25px;
  line-height: 30px;
  color: rgb(50, 66, 92);
}
.description h2 {
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
}
.description-list {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}
.send-request-btn {
  font-size: 14px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background-color: rgb(255, 83, 87);
}
.about-company {
  font-size: 14px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  background-color: rgb(238, 54, 67);
  text-transform: uppercase;
}
.contacts h2 {
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
}
.write-us {
  font-size: 14px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  background-color: rgb(238, 54, 67);
  text-transform: uppercase;
}
a.logo {
  font-size: 30px;
  line-height: 30px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background-color: rgb(238, 54, 67);
}
.footer-top {
  background-color: rgb(50, 66, 92);
}
.footer-middle {
  background-color: rgb(50, 66, 92);
}
.footer-top-links li {
  list-style: none;
}
a.footer-top-link {
  font-size: 18px;
  color: rgb(243, 247, 249);
  line-height: 24px;
}
.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  color: rgb(243, 247, 249);
}
.footer-middle-links li {
  list-style: none;
}
a.footer-middle-link {
  font-size: 18px;
  line-height: 24px;
  color: rgb(255, 209, 128);
}
.footer-bottom {
  background-color: rgb(41, 52, 73);
}
.copyright {
  font-size: 16px;
  line-height: 18px;
  color: rgb(255, 255, 255);
}
.feedback {
  font-size: 16px;
  line-height: 18px;
  color: rgb(255, 255, 255);
}
a.btn {
  font-size: 16px;
  line-height: 18px;
  color: rgb(255, 209, 128);
}
/*Модальное окно*/
div.modal-window {
  background-color: rgb(255, 255, 255);
}
.modal-window-font {
  font-size: 18px;
  line-height: 18px;
}
.modal-window-send {
  font-size: 14px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background-color: rgb(238, 54, 67);
}
/*Каталог*/
.cabinet {
  background-color: rgb(255, 255, 255);
}
.personal a {
  font-size: 16px;
  color: rgb(50, 66, 92);
  text-decoration: underline;
  line-height: 18px;
}
.catalog-tree a {
  font-size: 13px;
  font-family: "PTSans", Arial, sans-serif;
  text-transform: uppercase;
  line-height: 18px;
  color: rgb(0, 0, 0);
}
.catalog-tree li {
  list-style: none;
}
.subject h2 {
  font-size: 30px;
  color: rgb(50, 66, 92);
  text-transform: uppercase;
  line-height: 30px;
}
.subject {
  background-color: rgb(242, 246, 248);
}
.sorting-style {
  font-size: 13px;
  font-family: "PTSans", Arial, sans-serif;
  color: rgb(0, 0, 0);
  line-height: 18px;
  text-transform: uppercase;
}
div a.cost {
  font-size: 13px;
  font-family: "PTSans", Arial, sans-serif;
  line-height: 18px;
  color: rgb(238, 54, 67);
}
div a.sorting-style-rest {
  font-size: 13px;
  font-family: "PTSans", Arial, sans-serif;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.302);
  border-bottom-style: dotted;
  border-width: 1px;
  border-color: rgb(238, 54, 67);
}

p.catalog-filter {
  background-color: rgb(247, 243, 236);
}
div.sorting-panel {
  background-color: rgb(247, 243, 236);
}
.cost-range {
  background-color: rgb(247, 243, 236);
}
.side-filters {
  font-size: 17px;
  line-height: 30px;
  font-family: "PTSans", Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
}
.side-bar label {
  font-size: 15px;
  font-family: "PTSans", Arial, sans-serif;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 20px;
}
a.show-btn {
  font-size: 13px;
  font-family: "PTSans", Arial, sans-serif;
  color: rgb(0, 0, 0);
  line-height: 18px;
}
.goods li {
  list-style: none;
}
a.assortment-select-btn {
    font-size: 13px;
    font-family: "PTSans", Arial, sans-serif;
    color: rgb(0, 0, 0);
    line-height: 18px;
}
a.assortment-select-btn:first-child {
    color: rgb(255, 255, 255);
    background-color: rgb(238, 54, 67);
}
.about-subject {
  background-color: rgb(242, 246, 248);
}
.about-subject h3 {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 32px;
}
.about-subject p {
  font-size: 15px;
  line-height: 16px;
}
/*Окна*/
.buy {
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 18px;
  background-color: rgb(99, 166,62);
}
.bookmark {
  font-size: 14px;
  color: rgb(50, 66, 92);
  text-transform: uppercase;
  line-height: 18px;
  border: 2px solid rgb(99, 166, 62);
  background-color: rgb(255, 255, 255);
}
div.cart-upper-section {
  background-color: rgb(255, 255, 255);
}
div.cart-lower-section {
  background-color: rgb(241, 241, 241);
}
.cart-text {
  font-size: 30px;
  line-height: 30px;
}
a.checkout {
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 18px;
  background-color: rgb(238, 54, 67);
}
.cart-continue {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
  background-color: rgb(255, 255, 255);
}
/*Сетка главной страницы*/
.main-header {
  display: flex;
  flex-direction: column;
  min-height: 320px;
}
.header-top: {
  width: 100%;
}
.header-top ul {
  margin-left:auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  width: 940px;
  justify-content: space-around;
  align-items: center;
}
.header-middle {
  display: flex;
  min-height: 159px;
  width: 940px;
  margin-left:auto;
  margin-right:auto;
  justify-content: space-around;
  align-items: center;
}
.header-bottom {
  width: 940px;
  margin-left:auto;
  margin-right:auto;
}
.main-navigator ul {
  display: flex;
  flex-basis: 940px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.container {
  width: 940px;
  margin-left:auto;
  margin-right:auto;
}
.assortment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.assortment-list {
  display: flex;
  align-items: center;
  width: 301px;
  height: 123px;
}
